doctype html
html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
        meta(name='apple-touch-mobile-web-app-capable', content='yes')
        //meta(name='viewport', content='target-densitydpi=device-dpi,user-scalable=0')

        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/JavaScript/jquery-2.1.4.min.js',type='text/javascript')
        script(src='/JavaScript/pinchZoom.js', type='text/javascript')
        script(src='/JavaScript/scale.js', type='text/javascript')

    body
      //div#playMusic(onmouseup='javaScript:handleMusic()')
        img(src='/Image/playMusic.png' width="28px")
      //p.test

      div#Mall
          div.logo
              p(style='text-align: left') 体验商城导航寻车等更丰富功能请去appStore和各大安卓应用市场搜索下载“虾逛”App
              img(src='/Image/logo.png')

          div.mallList
            ul
             - if (malls.length > 0)
             - for (var item in malls)
                 li(onmouseup='javaScript:showFloor(this,' + JSON.stringify(malls[item]) + ')')= malls[item]['mallName']
                    div.arrow
          div.floorList

      div#Map
          div.mapBackground
              img.back(src='/Image/icon_back.png')
              p.mapTitle
              img.mapSource
              p.mapSubTitle 商城介绍:
                  p.mapDetails

      script.
           //var audio = new Audio('/Music/面具.mp3');
           var screenWidth = $(window).width();
           var screenHeight =  $(window).height();

           var mallView = document.getElementById('Mall');
           var mapView = document.getElementById('Map');

           var mallList = document.getElementsByClassName('mallList')[0];
           var music = document.getElementById('playMusic');
           var floorList = document.getElementsByClassName('floorList')[0];
           var arrows = document.getElementsByClassName('arrow');

           var mapTitle = document.getElementsByClassName('mapTitle')[0];
           var mapSource = document.getElementsByClassName('mapSource')[0];
           var mapSubTitle = document.getElementsByClassName('mapSubTitle')[0];
           var mapDetails = document.getElementsByClassName('mapDetails')[0];

           $('#Map').css({'height': screenHeight,'width' : screenWidth,'opacity':'0','visibility' : 'hidden'});
           $('#Mall').css({'height' : screenHeight,'width' : screenWidth});
           $('.mapBackground').css('width',screenWidth);

           mallList.style.height = screenHeight + 'px';

           function showFloor(li,mall){
               var selectedLi = document.getElementsByClassName('selected')[0];
               if (selectedLi != undefined){
                   selectedLi.className = '';
               }
               li.className = 'selected';

               var floors = mall['floors'];
               while (floorList.firstChild) {
                   floorList.removeChild(floorList.firstChild);
               }

               var nodeUl = document.createElement('ul');
               for (var index = 0; index < floors.length; index++) {
                    var nodeLi = document.createElement('li');
                    nodeLi.innerHTML = floors[index]['floorName'];
                    nodeLi.setAttribute('onmousedown','javaScript:mouseDown(this,' + JSON.stringify(mall) +  ',' +  index + ')');
                    nodeUl.appendChild(nodeLi);
               }
               floorList.appendChild(nodeUl);
               floorList.style.height = floors.length * 160 > screenHeight - 20 ? screenHeight + 'px': floors.length * 160 + 'px';
           }

            function mouseDown(li,mall,floorIndex){
                for (var index = 0;index < li.parentNode.childNodes.length;index ++){
                    var node = li.parentNode.childNodes[index];
                    if(node.className == 'selected'){
                        node.className = '';
                        continue;
                    }
                }

                li.className = 'selected';

                var floor = mall['floors'][floorIndex];

                mapTitle.innerText = mall['mallName'] + floor['floorName'];
                mapDetails.innerText = mall['mallDescription'];
                mapSource.src = '/Map/' + floor['floorMapName'];

                $('#Mall').animate({'opacity':'0'},'normal','linear',function(){
                  $('.floorList .selected').removeClass('selected');
                  $('#Mall').css({'visibility':'hidden','z-index':'0'});
                  $('#Map').css({'visibility':'visible','z-index':'10'});
                  $('#Map').animate({'opacity' :'1'},'normal','linear');
                });
            }

            function autoResizeImage(img){
               var scale = img.width / (screenWidth - 40);
                img.width = img.width / scale;
                //img.height = img.height / scale;
                //img.style.width = img.width;
                //img.style.height = img.height;
               // $('.test').html(scale);
            }
           $(function(){
                $('.mapSource').attr('onload','autoResizeImage(this)');

                //$('body').each(function(){
                //   new RTP.PinchZoom(this, {});
                //});
           });


           $('.back').bind('click',function(){
               $('#Map').animate({'opacity':'0'},'normal','linear',function(){
                   $('#Map').css({'visibility': 'hidden','z-index':'0'});
                   $('.mapSource').attr('src','/');
                   $('#Mall').css({'visibility': 'visible','z-index':'10'});
                   $('#Mall').animate({'opacity' :'1'},'normal','linear');
               });
           });
            document.addEventListener("DOMContentLoaded",function(event){
                ImagesZoom.init({
                    'elem' :'#Map'
                });
            });
